@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color: rgb(4, 4, 102);
}

.nav{
    background-color: var(--color);
}
.color{
    color: var(--color);
}

.bord{
    border: 2px solid var(--color);
}

.mon_navs a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0%;
    height: 2px;
    overflow: hidden;
    background-color: var(--color);
    border-radius: 30px;
    transition: all 0.3s;
}
.mon_navs a:hover::after{
    width: 100%;
}

.gradient{
    background: linear-gradient(to left , rgb(134, 5, 5), var(--color));
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    /* width: 100%; */
    /* border: 1px solid #ddd; */
}
tr:nth-child(odd){background-color: #f2f2f2}

.over::-webkit-scrollbar-thumb{
    width: 3px;
    height: 2px;
    background-color: blue;
}