@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color: rgb(2, 2, 80);
}

.nav{
    background-color: rgb(2, 2, 80);
}
.color{
    color: rgb(2, 2, 80);
}
.navs{
    /* font-family: ; */
}

.bord{
    border: 2px solid var(--color);
}

.mon_navs a::after{
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    overflow: hidden;
    background-color: var(--color);
}

.gradient{
    background: linear-gradient(to left , rgb(134, 5, 5), var(--color));
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    /* width: 100%; */
    /* border: 1px solid #ddd; */
}
tr:nth-child(odd){background-color: #f2f2f2}